<div class="modal" id="device-form">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= form_tag devices_path, method: :post, class: 'form-horizontal' do %>
          <div class="form-group">
      
            <div class="col-sm-12">
              <%= label_tag '', 'Pesquisar cliente' %>
              <div class="input-group">
                <%= text_field_tag :customer, '', id: 'input-customer-document', class: 'form-control', placeholder: 'Digite o cpf do cliente', required: true %>
                <div class="input-group-addon  btn btn-sm btn-primary"  type="button" id="btn-search-customer">
                  <span class="fa fa-search "></span>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class='block'>
                <div class="col-sm-12">
                  <h5>Nome: <%= label_tag 'customer-name', '', class: 'customer-name' %></h5>
                </div>
                <div class="col-sm-12">
                  <h5>CPF: <%= label_tag 'customer-document', '', class: 'customer-document' %></h5>
                </div>
                <div class="col-sm-12">
                  <h5>Email: <%= label_tag 'customer-email', '', class: 'customer-email' %></h5>
                </div>
                <%= hidden_field_tag 'customer_id' %>
              </div>
            </div>

            <div class="col-sm-12">
              <%= label_tag :manufacturer, 'Fabricante', class: 'col-xs-6' %>
              <%= text_field_tag :manufacturer, '', class: 'form-control', placeholder: 'Digite o fabricante do aparelho a ser cadastrado', required: true %>
            </div>
            <div class="col-sm-12">
              <%= label_tag :model, 'Model', class: 'col-xs-6' %>
              <%= text_field_tag :model, '', class: 'form-control', placeholder: 'Digite o modelo do aparelho a ser cadastrado', required: true %>
            </div>
            <div class="col-sm-12">
              <%= label_tag :imei, 'IMEI', class: 'col-xs-6' %>
              <%= text_field_tag :imei, '', class: 'form-control', placeholder: 'Digite o IMEI do aparelho a ser cadastrado', required: true %>
            </div>
          </div>
          <%= submit_tag 'Salvar', class: 'btn btn-sm btn-primary pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<%= render 'device_behavior' %>