<!DOCTYPE html>
<html>
  <head>
    <title>Divs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="navbar-class">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><%=link_to "Seguros", orders_path%></li>
          <li><%=link_to "Planos", offers_path %></li>
          <li><%=link_to "Descontos", loyalty_plans_path%></li>
          <li><%=link_to "Clientes", customers_path %></li>
          <li><%=link_to "Aparelhos", devices_path %></li>
        </ul>
      </div>
    </div>
  </head>

  <body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
